# Игнорировать файл с переменными окружения
.env

# Игнорировать кэш Python
__pycache__/
*.pyc

# Игнорировать виртуальные окружения
.venv/
venv/
env/

# Игнорировать папки с логами (если вы их используете)
logs/
*.log

# Игнорировать специфичные для IDE файлы (например, для VS Code)
.vscode/